body {
    font-family: 'Open Sans', sans-serif;
    }

.calculator-header {
    background: linear-gradient(90deg,rgb(156, 163, 163) 0%, rgb(48, 58, 82) 50%, rgb(29, 43, 56) 100%);
}
.calculator-header  p {
    padding-top: 12px;
    padding-bottom: 12px;
}

#currency-style {
    background-color: rgb(233, 222, 222, 0.2); 
}
.btn {
    margin-left: 2.5rem;
}



.currency {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
    appearance: none;
    border: 5px solid rgba(51, 121, 124, 0.8);;
    font-size: 16px;
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.currency input {
    border: 0;
    background: transparent;
    text-align: right;
    font-size: 30px;

}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.rate {
    padding: 0 10px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

@media(max-width: 600px) {
    .currency input {
        width: 200px;
    }

    body {
        background-color: rgb(233, 222, 222, 0.4);  
    }

}