* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:whitesmoke;
    padding:0;
    margin: 0;
}
/*SECTION 1 Navbar for name and local time
---- shows on the page ones loaded*/
.navbar-brand {
    background-image: linear-gradient(rgba(80, 51, 13, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-bg.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}


.navbar-item {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.navbar-end {
    background-color: rgb(233, 222, 222, 0.2);
    
}
/*SECTION 2 Hero with input form and phrase
---- shows on the page ones loaded*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bg.jpg");  
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    
}

.form {
    color: white;
    background-color: rgba(51, 121, 124, 0.5);
    padding: 20px;
    border: solid 3px rgb(58, 58, 58);
    margin-top: 4.5%;
    margin-left: 15%;
    margin-bottom: 4.5%;
    margin-right: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.placeholder {
    color:rgba(126, 124, 124, 0.8)
}

.hero-text {
    font-family:'Caveat', cursive;
    color:rgb(238, 228, 142);
    font-size: 4rem;
    margin-top: 5.5%;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.is-size-5 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.columns:last-child {
    margin: 0;
}
​/*SECTION 3 Search info box tp show user info of the search parameters         
---- should appear after button clicked    
---- can be done with stule change from display: none to display:grid on click*/
#search-info-box {
    display:grid;
}









/*SECTION 4 Serch results box with table of results content                    
---- should appear after button clicked 
---- can be done with stule change from display: none to display:grid on click*/
#search-results-box {
    display:grid;
}
.results {
    background-color: rgba(75, 191, 195, 0.1);
    
}

.results h2 {
    color:black;
   
}

#flight-display ul li {
    border-right: solid 1px rgb(58, 58, 58, 0.5);
    color:black
}


/*SECTION 5 Saved Countries*/
.country-btn {
background: linear-gradient(90deg,rgb(41, 42, 42) 0%, rgb(125, 125, 126) 100%);
color:white;
}

.clickStyle {
    display: grid;
}
